body{
    display: grid;
    grid-template-areas: 
    "cabeca cabeca cabeca"
    "lateral meio meio"
    "pe pe pe";
    grid-template-columns: 300px auto auto;
    grid-template-rows: 200px auto 200px;
    margin: 0;
}

header{
    grid-area: cabeca;
    background-color: yellow;
    text-align: center;
}

aside{
    grid-area: lateral;
    background-color: rgba(0, 255, 98, 0.733);
}

main{
    grid-area: meio;
    background-color: rgb(247, 233, 233);
}

footer{
    grid-area: pe;
    background-color: rgb(135, 135, 199);
}

@media screen and (max-width: 800px){
        body{
            grid-template-areas: 
            "cabeca"
            "lateral"
            "meio"
            "pe";
            grid-template-columns: auto;
            grid-template-rows: auto auto auto auto;



        }
}

.mercado1{
    width: 300px;
    height: 100px;
    padding-top: 55px;
}

.botao{
    border-radius: 100px;
    width: 90px;
    height: 25px;
    color: rgb(255, 255, 255);
    background-color: rgb(255, 0, 0);
}

.botao2{
    border-radius: 75px;
    width: 87px;
    height: 25px;
    color: rgb(255, 255, 255);
    background-color: rgb(255, 0, 234);
}

.botao3{
    border-radius: 75px;
    width: 87px;
    height: 25px;
    color: rgb(255, 255, 255);
    background-color: rgb(0, 17, 255);
}

.elementomae{
    justify-content: space-between;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
}

.celular{
    width: 100px;
    height: 350px;
}

.pc{
    width: 150px;
    height: 350px;
}

.ps5{
    width: 150px;
    height: 150px;
}

.chocolate{
    width: 150px;
    height: 150px;
}

.tenis{
    width: 150px;
    height: 150px;
}

.card{
    border: 2px solid rgb(255, 255, 255);
    width: 275px;
    height: 350px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px;
    transition: 0.25s;
    text-align: center;
}
.card:hover{
    background-color: rgb(56, 56, 56);
    color: rgb(255, 255, 255);
}

.card img{
    width: 150px;
    height: 100px;
}

.card a{
    background-color: aqua;
    border-radius: 100px;
    height: 25px;
    text-align: center;
}